* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F4F4F0;
  color: #211E24;
}

input, textarea, select {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 11px 13px;
  color: #211E24;
}