.bidders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bidders h1 {
  font-size: 36px;
  font-family: 'Andika', sans-serif;
  margin: 20px 0 20px 0;
  font-weight: 400;
}

.bidders .bidders-list {
  display: grid;
  grid-template-columns: min-content repeat(5, auto);
  justify-items: end;
  align-items: center;
  box-sizing: content-box;
  padding: 35px;
  margin: 40px 0;
  width: 100%;
  background-color: #C4C4C4;
}

.bidders .bidders-list .odd-row {
  background-color: #f4f4f0;
}

.bidders .bidders-list .even-row {
  background-color: #ffffff;
}

.bidders .bidders-list .heading {
  padding: 6px 0;
}

.bidders .bidders-list .data, .bidders .bidders-list .heading {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18px;
  justify-content: flex-end;
  align-items: center;
}

.bidders .bidders-list .number {
  padding-left: 20px;
}

.bidders .bidders-list .name {
  justify-content: flex-start;
  padding-left: 60px;
}

.bidders .bidders-list .view {
  padding-right: 20px;
}

.bidders .bidders-list .button {
  padding: 3px 25px;
  margin: 6px 0;
}

@media only screen and (max-width: 1024px) {
  .bidders .bidders-list .data, .bidders .bidders-list .heading {
    font-size: 14px;
  }
}

@media only screen and (max-width: 898px) {
  .bidders .bidders-list {
    grid-template-columns: min-content repeat(4, auto);
  }

  .bidders .bidders-list .name {
    padding-left: 40px;
  }

  .bidders .bidders-list .tax_exempt {
    display: none;
  }

  .bidders .bidders-list .lots {
    justify-content: center;
  }
}

@media only screen and (max-width: 670px) {
  .bidders .bidders-list {
    grid-template-columns: min-content repeat(3, auto);
  }

  .bidders .bidders-list .phone_number {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .bidders .bidders-list {
    grid-template-columns: min-content repeat(2, auto);
  }

  .bidders .bidders-list .lots {
    display: none;
  }
}

@media only screen and (max-width: 475px) {
  .bidders h1 {
    margin: 10px 0;
    font-size: 30px;
  }

  .bidders .bidders-list {
    box-sizing: border-box;
    padding: 15px;
  }

  .bidders .bidders-list .heading {
    display: none;
  }

  .bidders .bidders-list .name {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .bidders .bidders-list .number {
    padding-left: 5px;
  }
}