nav {
  background-color: #ff771b;
  color: #f4f4f0;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 30px;
}

nav .logo {
  font-family: 'Solway', serif;
  font-size: 36px;
}

nav .nav {
  display: flex;
  align-items: center;
}

nav .nav a, nav .nav button {
  text-decoration: none;
}

nav .nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .nav .link {
  font-family: 'Andika', sans-serif;
  color: #f4f4f0;
  font-size: 24px;
  padding: 0 15px;
}

@media screen and (max-width: 898px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 0px;
  }
  
  nav .logo {
    text-align: center;
    margin: 20px 0;
  }

  nav .nav {
    background-color: #957454;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  nav .nav .link {
    padding: 5px 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 670px) {

  nav .nav .link.optional {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  nav .nav .link {
    padding: 5px 0;
  }
}

/* @media screen and (max-width: ) */